.App {
    font-family: 'Questrial', sans-serif;
    background-image: url(./images/railroad.jpg);
    background-size: cover;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.header {
    text-align: center;
    border: 1px solid black;
    height: 150px;
}

.title {
    padding-top: 10px;
    color: black;
    border: 2px solid black;
    background-image: url(./images/title.jpg);
    background-size: cover;
    width: 25%;
    margin: auto;
    margin-top: 59px;
    height: 40px;
}

.number-button {
    display: inline-block;
    margin-right: 25px;
    width: 100px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.active {
    background-color: lightgreen;
}